<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/index}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div  layout:fragment="search-bar" class="search-bar">
  <form class="search-form d-flex align-items-center" method="post" action="/admin/order/search">
    <input type="text" name="keyword" placeholder="Search" title="Enter search keyword">
    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
  </form>
</div>

<main id="main" layout:fragment="main"class="main">



  <div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">

      <h1 style="font-size: 110px;
    font-weight: 700;
    color: #4154f1;
    margin-bottom: 0;
    line-height: 150px;">Thông báo !!</h1>
      <p>Có một số sản phẩm không đủ số lượng:</p>
      <ul th:each="errorMessage : ${errorMessages}">
        <li th:text="${errorMessage}"></li>
      </ul>
      <p>Vui lòng chọn món ăn khác hoặc điều chỉnh số lượng cho bàn của bạn và thử lại.</p>
      <button onclick="goBack()" class="btn btn-danger">Quay lại</button>
      <script>
    function goBack() {
        window.history.back();
    }
</script>
      <img src="/Admin/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">

    </section>

  </div>

  <style>


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  width: 150px;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.custom-select option {
  background-color: white;
  color: #333;
  font-weight: normal;
}

.custom-select option:checked {
  background-color: #007bff;
  color: white;
}

</style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.querySelector('.custom-select');
        selectElement.addEventListener('change', function() {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption.value === '1') {
                selectedOption.style.color = 'blue'; // Màu chữ xanh cho giá trị 1
            } else if (selectedOption.value === '2') {
                selectedOption.style.color = 'red'; // Màu chữ đỏ cho giá trị 2
            }
        });
    });
</script>
</main>
</body>
</html>