<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/index}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div  layout:fragment="search-bar" class="search-bar">
  <form class="search-form d-flex align-items-center" method="post" action="/admin/booking/search">
    <input type="hidden" name="idReservation" th:value="${idReservation}">
    <input type="text" name="keyword" placeholder="Tìm phòng,..." title="Enter search keyword">
    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
  </form>
</div>

<main id="main" layout:fragment="main"class="main">



  <!-- Top Selling -->

  <div class="card top-selling overflow-auto">



    <div class="card-body pb-0">
        <h5 class="card-title">Danh sách phòng
        </h5>

      <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
      </div>
      <table class="table table-borderless">
        <thead>
        <tr>
          <th scope="col">Stt.</th>


          <th scope="col"> <a th:href="@{'/admin/pageRoom/' + ${currentPage} + '?sortField=name&sortDir=' +${reverseSortDir}}">Tên phòng</a> </th>
          <th scope="col"> <a th:href="@{'/admin/pageRoom/' + ${currentPage} + '?sortField=reservationCategory.name&sortDir=' +${reverseSortDir}}">Danh mục</a> </th>

          <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="list, index : ${reservationList}">
          <td th:text="${(currentPage - 1) * pageSize + index.index + 1}"></td>

          <td th:text="${list.name}"></td>
          <td th:text="${list.reservationCategory.name}"></td>

          <td>
            <a th:href="@{/admin/reservationDetail/{id}(id=${list.id})}">
<!--              <i class="bi bi-list"></i>-->
              Xem
            </a>


          </td>


        </tr>

        </tbody>
      </table>
      <div th:if="${totalPages > 1}">
        <div class="d-flex justify-content-between col-md-6">
          <div class="col-md-4 text-center">
            <span th:if="${currentPage > 1}">
                <a th:href="@{/admin/pageRoom/} + ${currentPage - 1} + '?sortField='+${sortField}+'&sortDir='+${sortDir}">Last</a>
            </span>
            <span hidden  th:unless="${currentPage > 1}">Last</span>
          </div>
          <div class="col-md-4 text-center">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}"
                   th:href="@{/admin/pageRoom/} + ${i} + '?sortField='+${sortField}+'&sortDir='+${sortDir}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
          </div>
          <div class="col-md-4 text-center">
            <span th:if="${currentPage < totalPages}">
                <a th:href="@{/admin/pageRoom/} + ${currentPage + 1}+ '?sortField='+${sortField}+'&sortDir='+${sortDir} ">Next</a>
            </span>
            <span th:unless="${currentPage < totalPages}">Next</span>
          </div>
          <!--                    <div class="col-md-4 text-center">-->
          <!--            <span th:if="${currentPage < totalPages}">-->
          <!--                <a th:href="@{/admin/pageOrder/} + ${totalPages}+ '?sortField='+${sortField}+'&sortDir='+${sortDir} ">Last</a>-->
          <!--            </span>-->
          <!--                        <span th:unless="${currentPage < totalPages}">Next</span>-->
          <!--                    </div>-->
        </div>
      </div>
    </div>

  </div>
  <!-- End Top Selling -->




  <style>


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  width: 150px;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.custom-select option {
  background-color: white;
  color: #333;
  font-weight: normal;
}

.custom-select option:checked {
  background-color: #007bff;
  color: white;
}

</style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.querySelector('.custom-select');
        selectElement.addEventListener('change', function() {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption.value === '1') {
                selectedOption.style.color = 'blue'; // Màu chữ xanh cho giá trị 1
            } else if (selectedOption.value === '2') {
                selectedOption.style.color = 'red'; // Màu chữ đỏ cho giá trị 2
            }
        });
    });
</script>
</main>
</body>
</html>