<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/index}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  layout:fragment="search-bar" class="search-bar">
    <form class="search-form d-flex align-items-center" method="post" action="/admin/user/search">
        <input type="text" name="keyword" placeholder="Tìm..." title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
</div>

<main id="main" layout:fragment="main"class="main">



    <!-- Top Selling -->

    <div class="card top-selling overflow-auto">


        <div class="card-body pb-0">
            <h5 class="card-title">Danh sách khách hàng
             </h5>

            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">Stt.</th>

                    <th scope="col"> <a th:href="@{'/admin/pageCustomer/' + ${currentPage} + '?sortField=name&sortDir=' +${reverseSortDir}}">Tên khách hàng</a> </th>
                    <th scope="col"> <a th:href="@{'/admin/pageCustomer/' + ${currentPage} + '?sortField=email&sortDir=' +${reverseSortDir}}">Email</a> </th>
                    <th scope="col"> <a th:href="@{'/admin/pageCustomer/' + ${currentPage} + '?sortField=phone&sortDir=' +${reverseSortDir}}">SDT</a> </th>
                    <th scope="col"> <a th:href="@{'/admin/pageCustomer/' + ${currentPage} + '?sortField=address&sortDir=' +${reverseSortDir}}">Địa chỉ</a> </th>
                     <th scope="col"> <a th:href="@{'/admin/pageCustomer/' + ${currentPage} + '?sortField=createTime&sortDir=' +${reverseSortDir}}">Ngày tạo</a> </th>
                    <th scope="col"> <a th:href="@{'/admin/pageCustomer/' + ${currentPage} + '?sortField=isOtpVerified&sortDir=' +${reverseSortDir}}">Kích hoạt</a> </th>


                     <th scope="col"> </th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="user, index : ${listStaff}">
                    <td th:text="${index.index +1}"></td>

                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.address}"></td>





                    <td th:text="${#temporals.format(user.createTime, 'dd/MM/yyyy')}">Create date</td>
                    <td th:text="${user.provider == 'Local' ? (user.isOtpVerified == true ? 'Đã kích hoạt' : 'Chưa kích hoạt') : ''}"></td>


                </tr>

                </tbody>
            </table>
            <!-- Pagination Logic -->
            <div  class="paginate" style="margin-top:45px;" th:if="${totalPages > 1}">
                <div class="d-flex justify-content-between col-md-6">
                    <div class="col-md-4 text-center">
            <span th:if="${currentPage > 1}">
                <a th:href="@{/admin/pageCustomer/} +'1' + '?sortField='+${sortField}+'&sortDir='+${sortDir}">Đầu</a>
             </span>
                        <span hidden th:unless="${currentPage > 1}">Trước</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <!-- Display Previous and Next Pages based on Current Page -->
                        <span th:each="i: ${#numbers.sequence((currentPage > 2 ? currentPage - 2 : 1), (currentPage < totalPages - 1 ? currentPage + 2 : totalPages))}">
                <a th:if="${currentPage != i}"
                   th:href="@{/admin/pageCustomer/} + ${i} + '?sortField='+${sortField}+'&sortDir='+${sortDir}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
                    </div>
                    <div class="col-md-4 text-center">
            <span th:if="${currentPage < totalPages}">
                <div id="inputContainer" style="display: none;margin-left: -303px;margin-top: -35px;"  >
  <input type="number" id="pageNumber" placeholder="Nhập số trang">
  <button onclick="goToPage()">Xác nhận</button>
</div>
                <button onclick="showInput()" style="margin-left: -70px   ; margin-bottom: 20px;">Đến trang</button>
<input type="hidden" th:value="${totalPages}" id="totalPages">
                <a th:href="@{/admin/pageCustomer/} + ${currentPage + 1}+ '?sortField='+${sortField}+'&sortDir='+${sortDir} ">Sau</a>
            </span>
                        <span th:unless="${currentPage < totalPages}">Sau</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- End Top Selling -->




    <style>


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  width: 150px;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.custom-select option {
  background-color: white;
  color: #333;
  font-weight: normal;
}

.custom-select option:checked {
  background-color: #007bff;
  color: white;
}

</style>
    <script>
   function showInput() {
    document.getElementById("inputContainer").style.display = "block";
  }

  function goToPage() {
  var pageNumber = parseInt(document.getElementById("pageNumber").value);
  var totalPages = parseInt(document.getElementById("totalPages").value);

  if (pageNumber < 1 || pageNumber > totalPages) {
    alert('Số trang không hợp lệ');
  } else {
    window.location.href = "/admin/pageCustomer/" + pageNumber + "?sortField=name&sortDir=asc";
  }
}



</script>
</main>
</body>
</html>