<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{Admin/index}">
<head>
  <meta charset="UTF-8">
  <title>Thông tin nhân viên</title>
</head>
<body>

<main id="main" layout:fragment="main"class="main">

  <div class="pagetitle">
    <h1>Thông tin cá nhân</h1>

  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img th:src="${user.image != null ? '/displayStaff?id=' + user.id : '/Admin/img/nullProfile.png'}" class="rounded-circle" alt="Profile">
            <h2 th:text=" ${user.name}">  </h2>

            <h3 th:if="${isAdmin}"> <p>ADMIN</p></h3>
            <h3 th:if="${isEmployee}"> <p>EMPLOYEE</p></h3>
            <div class="social-links mt-2">

            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tống quan</button>
              </li>

<!--              <li class="nav-item">-->
<!--                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>-->
<!--              </li>-->



              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Đổi mật khẩu</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                <h5 class="card-title">Chi tiết thông tin cá nhân</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Họ tên</div>
                  <div class="col-lg-9 col-md-8" th:text=" ${user.name}">Kevin Anderson</div>
                </div>



                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Role</div>
                  <div class="col-lg-9 col-md-8" >

                      <ul>
                        <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                      </ul>


                  </div>
                </div>



                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                  <div class="col-lg-9 col-md-8" th:text=" ${user.address}">   </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">SDT</div>
                  <div class="col-lg-9 col-md-8"th:text=" ${user.phone}">phone</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8" th:text=" ${user.email}">  </div>
                </div>

              </div>

<!--              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">-->

<!--                &lt;!&ndash; Profile Edit Form &ndash;&gt;-->
<!--&lt;!&ndash;                <form th:action="@{/admin/updateProfile}" method="post" th:object="${user}" enctype="multipart/form-data">&ndash;&gt;-->

<!--&lt;!&ndash;                  <input type="hidden" th:field="${user.id}" />&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="hidden" name="originalImage" th:value="${user.image != null ? 'true' : 'false'}">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="row mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="image" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-8 col-lg-9">&ndash;&gt;-->
<!--&lt;!&ndash;                      <img th:src="${user.image != null ? '/displayStaff?id=' + user.id : '/Admin/img/nullProfile.png'}" class="rounded-circle" alt="Profile">&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="pt-2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input class="form-control"  type="file"id="image" name="image" accept="image/*"  >&ndash;&gt;-->
<!--&lt;!&ndash;                       </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="row mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="name" class="col-md-4 col-lg-3 col-form-label">Full Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-8 col-lg-9">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input name="name" type="text" class="form-control" th:value=" ${user.name}" id="name"  >&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input hidden type="text" id="username" name="username" th:field="*{username}"class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;                  <input hidden type="text" id="createTime" name="createTime" th:field="*{createTime}"class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;                  <input hidden type="text" id="password" name="password" th:field="*{password}"class="form-control">&ndash;&gt;-->

<!--&lt;!&ndash;                  <div hidden class="col-lg-9 col-md-8" >&ndash;&gt;-->

<!--&lt;!&ndash;                    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li th:each="role : ${user.roles}" th:text="${role.name}"></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->


<!--&lt;!&ndash;                  </div>&ndash;&gt;-->



<!--&lt;!&ndash;                  <div class="row mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-8 col-lg-9">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input name="job" type="text" class="form-control" id="Job" value="Web Designer">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->



<!--&lt;!&ndash;                  <div class="row mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-8 col-lg-9">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input name="address" type="text" class="form-control" id="address" th:value=" ${user.address}">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="row mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-8 col-lg-9">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input name="phone" type="text" class="form-control" id="phone" th:value=" ${user.phone}">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <div class="row mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-8 col-lg-9">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input name="email" type="email" class="form-control" id="email" th:value=" ${user.email}">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->



<!--&lt;!&ndash;                  <div class="text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="submit" class="btn btn-primary">Save Changes</button>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&lt;!&ndash; End Profile Edit Form &ndash;&gt;&ndash;&gt;-->

<!--              </div>-->


              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form>
                  <!-- Hiển thị thông báo lỗi -->
                  <div th:if="${error}" class="alert alert-danger">
                    <p th:text="${error}"></p>
                  </div>

                  <!-- Hiển thị thông báo thành công -->
                  <div th:if="${success}" class="alert alert-success">
                    <p th:text="${success}"></p>
                  </div>
                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newPassword" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu mới</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="confirmPassword" type="password" class="form-control" id="confirmPassword">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
















</main>
</body>
</html>
