<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lign</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="/User/css/styleRecipe.css" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/User/img/favicon.png" rel="icon">
    <link href="/User/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/User/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/User/vendor/aos/aos.css" rel="stylesheet">
    <link href="/User/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/User/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/User/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/User/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/User/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/User/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly - v3.1.0
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body  >

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
            <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
        </div>

        <div class="languages d-none d-md-flex align-items-center">
            <ul>
                <li>En</li>
                <li><a href="#">De</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="/">Lign</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/User/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li th:each="category : ${listCategory}" ><a    th:text="${category.name}" th:href="@{/user/category/{id}(id=${category.id})}" > </a></li>

                <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li> <a  sec:authorize="isAuthenticated()" href="/logout">Logout</a></li>

                        <li><a sec:authorize="!isAuthenticated()"  href="/login">Login </a></li>
                        <li><a sec:authorize="!isAuthenticated()"  href="/user/register">Register</a></li>
                        <li><a sec:authorize="isAuthenticated()" href="/user/info">User info</a></li>
                    </ul>
                </li>
                <li>    <a  sec:authorize="isAuthenticated()">Hello <span class="ml-1" sec:authentication="name"></span>
                </a></li>
                <a class="cart" href="/user/viewCart">
                    <span class="cart-item-count"></span>
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a href="/user/BookATable" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</a>

    </div>
</header><!-- End Header -->

<main id="main">
    <div style="text-align: center; padding: 20px; padding-top:160px; border-radius: 5px; margin: 0 auto; max-width: 500px;">
        <h1 style="color: #37cc37; font-size:40px; margin-bottom: 10px;">Order successful!</h1>
        <p style="color: white; font-size: 18px; line-height: 1.5; margin-bottom: 15px;">Thank you for ordering at our restaurant.</p>
        <p style="color: white; font-size: 18px; line-height: 1.5; margin-bottom: 15px;">Please check your <a href="/user/userOrderInfo" style="color:#37cc37; text-decoration: none; font-weight: bold;">order information</a>. We will contact you to confirm as soon as possible.</p>
        <p style="color: white; font-size: 18px; line-height: 1.5; margin-bottom: 15px;">Please contact us if you have any questions.</p>
    </div>
</main>






<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Lign</h3>
                        <p>
                            123 HCM <br>
                            <br><br>
                            <strong>Phone:</strong> +84 06303905 <br>
                            <strong>Email:</strong> xuanloc290901@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>



            </div>
        </div>
    </div>


</footer><!-- End Footer -->


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/User/vendor/aos/aos.js"></script>
<script src="/User/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/User/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/User/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/User/vendor/php-email-form/validate.js"></script>
<script src="/User/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/User/js/main.js"></script>

<!-- End Google Map -->

</body>

</html>