<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lign</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link href="/User/img/favicon.png" rel="icon">
    <link href="/User/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/User/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/User/vendor/aos/aos.css" rel="stylesheet">
    <link href="/User/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/User/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/User/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/User/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/User/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/User/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly - v3.1.0
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body  >

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
            <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
        </div>

        <div class="languages d-none d-md-flex align-items-center">
            <ul>
                <li>En</li>
                <li><a href="#">De</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="/">Lign</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/User/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li th:each="category : ${listCategory}" ><a class="nav-link scrollto" th:classappend="${category.name == 'Contact'} ? 'active' : ''"  th:text="${category.name}" th:href="@{/user/category/{id}(id=${category.id})}" > </a></li>

                <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li> <a  sec:authorize="isAuthenticated()" href="/logout">Logout</a></li>

                        <li><a sec:authorize="!isAuthenticated()"  href="/login">Login </a></li>
                        <li><a sec:authorize="!isAuthenticated()"  href="/user/register">Register</a></li>
                        <li><a sec:authorize="isAuthenticated()" href="/user/info">User info</a></li>
                    </ul>
                </li>
                <li>    <a  sec:authorize="isAuthenticated()">Hello <span class="ml-1" sec:authentication="name"></span>
                </a></li>
                <a class="cart" href="/user/viewCart">
                    <span class="cart-item-count"></span>
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
         <form action="/user/BookATable" method="post">
      <button type="submit" style="background-color:#392f1a;" class="book-a-table-btn scrollto d-none d-lg-flex">Book a table</button>
    </form>

    </div>
</header><!-- End Header -->

<main id="main">

<!-- ======= Contact Section ======= -->
<section id="contact" style="padding-top: 165px;" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>
        </div>

        <div data-aos="fade-up">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d15683.055833618631!2d106.729300959003!3d10.675420979508598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDQwJzQxLjciTiAxMDbCsDQzJzQ4LjgiRQ!5e0!3m2!1svi!2s!4v1679016321464!5m2!1svi!2s" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="container" data-aos="fade-up">

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location: </h4>
                            <p>123  HCM</p>
                        </div>

                        <div class="open-hours">
                            <i class="bi bi-clock"></i>
                            <h4>Open Hours:</h4>
                            <p>
                                Monday-Saturday:<br>
                                8:00 AM - 10:00 PM
                            </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>xuanloc290901@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+84 06303905</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form th:action="@{/user/submitContact}" method="post" th:object="${contact}" role="form" class="php-contact-form">
                        <div th:if="${failMessage}" class="alert alert-danger">
                            <p style="text-align:center;" th:text="${failMessage}"></p>
                        </div>
                        <div th:if="${successMessage}" class="alert alert-success">
                            <p style="text-align:center;" th:text="${successMessage}"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name"th:field="*{name}" placeholder="Your Name" required>
                                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>

                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"th:field="*{email}" placeholder="Your Email" required>
                                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                             <input type="text" name="phone" id="phone" th:field="*{phone}" placeholder="Phone" required class="form-control"
                                   pattern="(03|05|07|08|09)[0-9]{8}"
                                   oninvalid="this.setCustomValidity('Phone number must start with 03, 05, 07, 08 or 09 and have exactly 10 digits')"
                                   onchange="this.setCustomValidity('')"   onkeypress = "return valideNumber()"/>

                            <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                        </div>
                        <div class="form-group mt-3">

                            <textarea  class="form-control" id="message" rows="8" placeholder="Message"  name="message" th:field="*{message}"required></textarea>

                            <span class="text-danger" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->


</main>






    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Lign</h3>
                            <p>
                                123 HCM <br>
                                 <br><br>
                                <strong>Phone:</strong> +84 06303905 <br>
                                <strong>Email:</strong> xuanloc290901@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>



                </div>
            </div>
        </div>


    </footer><!-- End Footer -->


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/User/vendor/aos/aos.js"></script>
<script src="/User/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/User/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/User/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/User/vendor/php-email-form/validate.js"></script>
<script src="/User/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/User/js/main.js"></script>

<!-- End Google Map -->
<script>
    function valideNumber() {
        var charCode = (event.which) ? event.which : event.keyCode;
        if (charCode >= 48 && charCode <= 57) {
            return true;
        } else {
            return false;
        }
    }

        function validPhoneNumber(event) {
  // Chỉ nhận các giá trị số và phím xoá
  if(event.charCode >= 48 && event.charCode <= 57 || event.keyCode === 8) {
    var phoneNumberInputs = document.getElementsByName('Phone');
        for(var i = 0; i < phoneNumberInputs.length; i++) {
      var phoneNumber = phoneNumberInputs[i].value;
        // Số điện thoại của Việt Nam có độ dài là 10 và bắt đầu từ số 0
        if(phoneNumber.length < 10 || phoneNumber.charAt(0) !== '0') {
            phoneNumberInputs[i].setCustomValidity('Phone numbers must start with 0 and be 10 digits long');
        } else {
            phoneNumberInputs[i].setCustomValidity('');
      }
    }
        return true;
  } else {
            event.preventDefault();
        return false;
  }
}
</script>
</body>

</html>