<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta charset="UTF-8">
  <title>Lign   </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
   <!-- Favicons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link href="/User/img/favicon.png" rel="icon">
  <link href="/User/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/User/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/User/vendor/aos/aos.css" rel="stylesheet">
  <link href="/User/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/User/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/User/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/User/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/User/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/User/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lign - v3.1.0
  * Template URL: https://bootstrapmade.com/Lign-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-center justify-content-md-between">

    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-phone d-flex align-items-center"><span>0906303905</span></i>
      <i class="bi bi-clock d-flex align-items-center ms-4"><span>T2-T7: 11AM - 23PM</span></i>
    </div>

    <div class="languages d-none d-md-flex align-items-center">

    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="/">Lign</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="/User/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
<!--        <li th:each="category : ${listCategory}" ><a class="nav-link scrollto" th:classappend="${category.name == 'Home'} ? 'active' : ''"  th:text="${category.name}" th:href="@{/user/category/{id}(id=${category.id})}" > </a></li>-->
        <li   ><a class="nav-link scrollto active"      href="/user/home" >Trang chủ </a></li>
        <li   ><a class="nav-link scrollto  "      href="/user/menu" >Thực đơn </a></li>

        <li   ><a class="nav-link scrollto  "      href="/user/contact" >Liên hệ </a></li>
        <li   ><a class="nav-link scrollto  "      href="/user/blog" >Tin tức </a></li>
        <li   ><a class="nav-link scrollto  "      href="/user/searchBooking" >Tìm kiếm</a></li>

        <li class="dropdown"><a href="#"><span>Tài khoản</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li> <a  sec:authorize="isAuthenticated()" href="/logout">Đăng xuất</a></li>

            <li><a sec:authorize="!isAuthenticated()"  href="/login">Đăng nhập </a></li>
            <li><a sec:authorize="!isAuthenticated()"  href="/user/register">Đăng kí</a></li>
            <li><a sec:authorize="isAuthenticated()" href="/user/info">Thông tin tài khoản</a></li>
          </ul>
        </li>
        <li> <a sec:authorize="isAuthenticated()">Xin chào <span class="ml-1" style="margin-left: 10px;" sec:authentication="name"></span> </a> </li>

        <a class="cart" href="/user/viewCart">
          <span class="cart-item-count"></span>
          <i class="fa-solid fa-cart-shopping"></i>
         </a>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
   <a href="/user/bmi" >
      <button type="submit" style="background-color:#392f1a;" class="book-a-table-btn scrollto d-none d-lg-flex">Chưa biết ăn gì ?</button>
    </a>
    <a href="/user/BookATable" >
      <button type="submit" style="background-color:#392f1a;" class="book-a-table-btn scrollto d-none d-lg-flex">Đặt bàn</button>
    </a>


  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Chào mừng bạn đến với <span>Lign</span></h1>
        <h2>Hơn 18 năm phục vụ ẩm thực tuyệt vời!</h2>

        <div class="btns">
          <a href="/user/menu" class="btn-menu animated fadeInUp scrollto">Thực đơn</a>
          <a href="/user/BookATable" class="btn-book animated fadeInUp scrollto">Đặt bàn</a>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
        <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
      </div>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="/User/img/about.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Chào mừng bạn đến với nhà hàng của chúng tôi, nơi bạn có thể tận hưởng những khoảnh khắc đáng nhớ trong không gian lịch sự và ấm cúng. </h3>          <p class="fst-italic">
          Chúng tôi hiểu rằng ăn uống không chỉ là đáp ứng nhu cầu sinh lý mà còn là sự trải nghiệm tinh tế, là cách thưởng thức hương vị và khám phá văn hóa ẩm thực. Bằng sự thích thú và đam mê, chúng tôi tạo ra những món ăn độc đáo, thú vị, từ truyền thống đến sáng tạo và đổi mới.          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Nhà hàng chúng tôi cam kết đảm bảo chất lượng của từng món ăn, từ việc lựa chọn kỹ càng nguyên liệu tươi ngon chất lượng cho đến quy trình chế biến do đội ngũ chúng tôi thực hiện của những đầu bếp tài năng và giàu kinh nghiệm. </li>
            <li><i class="bi bi-check-circle"></i> Với không gian sang trọng và sự chăm chút tỉ mỉ đến từng chi tiết, chúng tôi hy vọng sẽ mang lại cho bạn cảm giác thoải mái, thư giãn khi thưởng thức bữa ăn tại đây.</li >
            <li><i class="bi bi-check-circle"></i> Chúng tôi cam kết tạo ra những trải nghiệm ẩm thực đáng nhớ để bạn có thể tận hưởng sự hài lòng và hài lòng về mọi mặt.</li>
          </ul>
          <p>
            Hãy đến và khám phá nhà hàng của chúng tôi, nơi chúng tôi tin chắc rằng bạn sẽ tìm thấy niềm vui và sự hài lòng trong từng miếng ăn, từng góc nhìn và từng khoảnh khắc tại đây.          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Ưu điểm của chúng tôi</h2>
        <p>Tại sao chọn chúng tôi</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Ẩm thực phong phú</h4>
            <p>Chúng tôi tự hào mang đến trải nghiệm ẩm thực tuyệt vời, với đa dạng các món ngon được chuẩn bị bởi đầu bếp tài năng của chúng tôi sử dụng những nguyên liệu tốt nhất.</p>

          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Không gian và Bầu không khí</h4>
            <p>Nhà hàng của chúng tôi mang đến không gian ấm cúng và hấp dẫn, hoàn hảo để tụ tập cùng gia đình và bạn bè để thưởng thức một bữa ăn ngon và đáng nhớ. Với không gian ấm áp và sự chào đón.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4>Dịch vụ Xuất sắc</h4>
            <p>Với cam kết uy tín về dịch vụ xuất sắc, chúng tôi luôn cố gắng đảm bảo mỗi khách hàng ra đi với sự hài lòng, tạo ra những kỷ niệm đáng nhớ để ghi nhớ.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Thực đơn</h2>
        <p>Khám phá Thực đơn hấp dẫn của chúng tôi</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Tất cả</li>
            <li class="product-category" data-filter="" th:each="productCategory : ${listProductCategory}" th:text="${productCategory.name}">Thịt nướng</li>
            <script>
document.addEventListener("DOMContentLoaded", function() {
    var productCategoryElements = document.querySelectorAll(".product-category");

    productCategoryElements.forEach(function(element) {
        var categoryName = element.textContent.trim();
        var filterValue = "";

        if (categoryName === "Đồ nướng") {
            filterValue = ".filter-Đồ";
        } else if (categoryName === "Thức uống") {
            filterValue = ".filter-Thức";
        } else if (categoryName === "Tráng miệng") {
            filterValue = ".filter-Tráng ";
        } else {
            filterValue = ".filter-" + categoryName;
        }

        element.setAttribute("data-filter", filterValue);
    });
});
</script>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        <div th:class="'col-lg-6 menu-item filter-'+ ${list.productCategory.name}" th:each="list : ${listProduct}">

          <img class="menu-img"  th:if="${list.image != null}" th:src="@{'/display?id=' + ${list.id}}" alt="">
          <img class="menu-img"   th:unless="${list.image != null}" src="/Admin/img/foodDefault.png" alt="">
          <div class="menu-content">
            <a th:href="@{'/user/productDetail/' + ${list.id}}"   th:text="${list.name}"> </a><span th:text="${#numbers.formatInteger(list.price,3,'POINT')+' VND'}" > </span>
          </div>
          <div class="menu-ingredients"th:text="${list.description}">

          </div>
            <a href="javascript:void(0);" class="add-to-cart-btn" th:data-product-id="${list.id}">
               + Thêm vào giỏ hàng
<!--             <i class="fa-solid fa-cart-shopping"></i>-->
           </a>
        </div>



      </div>

    </div>
  </section><!-- End Menu Section -->

  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>TOP 5</h2>
        <p>Món yêu thích</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item" th:each="product, iterStat : ${top5FourProducts}">
              <a class="nav-link  " data-bs-toggle="tab" th:classappend="${iterStat.index == 0} ? 'active show' : ''"
                 th:href="'#tab-' + ${iterStat.index + 1}"  th:text="${product.name}">Modi sit est</a>
            </li>

          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane" th:each="product, iterStat : ${top5FourProducts}"
                 th:classappend="${iterStat.index == 0} ? 'active show' : ''" th:id="'tab-' + ${iterStat.index + 1}">
              <div class="row"  >
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3 th:href="@{'/user/productDetail/' + ${product.id}}" th:text="${product.name}"> </h3>
                  <a href="javascript:void(0);" class="add-to-cart-btn" th:data-product-id="${product.id}">
                    + Thêm vào giỏ hàng

                  </a>
                  <p class="fst-italic" th:text="${product.description}">   </p>
                  <p th:text="${product.detail}" >     </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img th:src="@{'/display?id=' + ${product.id}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->



  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Thư viện hình ảnh</h2>
        <p>Một số hình ảnh đáng chú ý từ Nhà hàng của chúng tôi</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-3.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-5.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-6.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-7.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/User/img/gallery/gallery-8.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="/User/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->

  <!-- ======= Chefs Section ======= -->
  <section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Đầu bếp</h2>
        <p>Đội ngũ Đầu bếp chuyên nghiệp của chúng tôi</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="/User/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Tên A</h4>
                <span>Đầu bếp</span>
              </div>
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <img src="/User/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4> Tên B</h4>
                <span>Phụ bếp</span>
              </div>
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="300">
            <img src="/User/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Tên C</h4>
                <span>Phụ bếp</span>
              </div>
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Chefs Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Lign</h3>
            <p>
              123 HCM <br>
              <br><br>
              <strong>Sđt:</strong> 0906303905 <br>
              <strong>Email:</strong> xuanloc290901@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=61554484232518" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 ">
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0" nonce="nacStYY6"></script>
        </div>
        <div class="col-lg-5 col-md-6 footer-links">
          <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61554484232518" data-tabs="timeline" data-width="500" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=61554484232518" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=61554484232518">Lign Restaurant</a></blockquote></div>
        </div>
      </div>
    </div>
  </div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/64664e4fad80445890edbde8/1h0nq3q6u';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/User/vendor/aos/aos.js"></script>
<script src="/User/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/User/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/User/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/User/vendor/php-email-form/validate.js"></script>
<script src="/User/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/User/js/jquery-3.4.1.min.js"></script>

<!-- Template Main JS File -->
<script src="/User/js/main.js"></script>
<script>
    $(document).ready(function() {
        $('.add-to-cart-btn').click(function() {
            var productId = $(this).data('product-id');

           $.ajax({
    type: 'GET',
    url: '/user/shoppingCart/add/' + productId,
    success: function(response) {
        // Handling success response
        alert('Thêm vào giỏ hàng thành công');
        updateCartItemCount();
    },
    error: function() {
        // Handling error (if any)
        alert('Có lỗi khi thêm vào giỏ hàng');
    }
});
        });

        function updateCartItemCount() {
            $.get("/user/itemCount", function(data) {
                // Cập nhật số lượng sản phẩm trên giao diện
                $(".cart-item-count").text(data);
            });
        }
    });
</script>


</body>
</html>